{% extends 'base.html.twig' %}

{% block title %}Accueil Job It{% endblock %}

{% block body %}
<section class="ml-5">
    <h1 class="py-5">JOB-IT</h1>

</section>
<nav class="navbar navbar-dark bg-dark">
    <ul>
        <li>A propos</li>
        <li>JOB-IT API</li>
        <li>Partenaire</li>
    </ul>
</nav>
{% endblock %}
