{% extends 'base.html.twig' %}

{% block title %}Accueil Job It{% endblock %}

{% block body %}
<section class="ml-5">
    <h1 class="py-5">JOB-IT</h1>

</section>
<nav class="navbar navbar-dark bg-dark">
    <p class="align-center">
        <a href="#">A propos</a>
        <a href="#">JOB-IT API</a>
        <a href="#">Partenaire</a>
    </p>
</nav>
{% endblock %}
