<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Job It">
        <meta name="author" content="Mickael Labbé">
        <meta name="generator" content="Jekyll v4.1.1">
        <title>{% block title %}Bienvenue sur Job It{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">

        <style>
            
            li {
            display: inline;
            list-style-type: none;
            text-decoration: none ;
            margin: 0 10px;
            color: #fff;
            }

        </style>
  
    </head>
    <body>
        {% block content %}
        {% endblock %}

        <!-- FOOTER -->
        <footer>
            <nav class="navbar navbar-dark bg-dark">
                <p>
                <ul class="align-center">
                    <a href=""><li href="#" class="py-5">A propos</li></a>
                    <a href=""><li href="#">JOB-IT API</li></a>
                    <a href=""><li href="#">Partenaire</li></a>
                </ul>
                </p>
            </nav>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
    </body>
</html>
